vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|07 Aug 2005 14:01:28 -0000
vti_extenderversion:SR|5.0.2.6417
vti_lineageid:SR|{EF3C9E2F-0A08-4748-BD0A-CA7667A38F8C}
vti_cacheddtm:TX|07 Aug 2005 14:01:28 -0000
vti_filesize:IR|3878
vti_backlinkinfo:VX|General/doc/GrapherDemo.htm General/doc/grapher.htm
