// Copyright (c) 1992,1998. Ken Kahn, Animated Programs, All rights reserved

// strings used in compiling ToonTalk to Java

// The following may be worth translating to other languages

IDS_JAVA_LAST_EVENT_COMMENT,
 " // Este robô concluiu o trabalho dele, pelo que vai dar a caixa outra vez ao primeiro robô da equipa."
IDS_JAVA_LAST_EVENT_COMMENT2,
 " // Este robô concluiu o trabalho dele, pelo que vai ver se a caixa ainda corresponde ao pensamento, para tentar outra vez."
IDS_JAVA_BOMB_SET_OFF_COMMENT,
 " // ligou-se a bomba"
IDS_JAVA_FILE_GENERATED_COMMENT,
 "// Este ficheiro Java foi gerado automaticamente pelo ToonTalk, relativamente a"
IDS_JAVA_AND_THEN_CREATE,  // used in comments
 "acabámos de criar "
IDS_JAVA_ROBOT_MATCH_COMMENT,
 "// Se lhe for dada uma caixa que corresponda à que tem no balão de pensamento (chamada \"wants\"),"
IDS_JAVA_ROBOT_MATCH_COMMENT2,
 "// então este robô faz isto:"
IDS_JAVA_IMAGE_CYCLE_COMMENT,
 "// O código que se segue prepara tudo para mostrar um filme de"
IDS_JAVA_NEST_FOR_BIRD_WITHOUT_ONE,  // moved here on 8/25/97 from javacom.rc
 "Fazer um ninho para um pássaro sem ninho."


// and the following generated HTML can be translated except the tags in <...>
IDS_HTML_TITLE_TOONTALK,  // this ends up on the title of the generated web page -- can be more information if desired
 "<title>ToonTalk"
IDS_HTML_ROBOT_TEAM_NUMBER,  // this ends up on the title of the generated web page
 "Equipa de robôs n.º"
IDS_HTML_HREF_END,   // this ends up at the bottom of the generated web page
  // the first part is a link to the source
 "> Ver o código-fonte Java.</a>"









