vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|06 Aug 2005 00:00:00 -0000
vti_extenderversion:SR|6.0.2.6551
vti_cacheddtm:TX|06 Aug 2005 00:00:00 -0000
vti_filesize:IR|68002
vti_backlinkinfo:VX|English/ttini.htm Swedish/ttini.htm
