vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|30 Apr 2005 17:54:51 -0000
vti_extenderversion:SR|5.0.2.6417
vti_lineageid:SR|{B6B15A83-CDFE-4191-BF11-3E3ED7BF1B3A}
vti_cacheddtm:TX|30 Apr 2005 17:54:51 -0000
vti_filesize:IR|127751
vti_backlinkinfo:VX|Infinity/Doc/notebook.htm
