vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|01 May 2005 10:45:23 -0000
vti_extenderversion:SR|5.0.2.6417
vti_backlinkinfo:VX|Sequences/Doc/Fibonacci_box.htm
vti_author:SR|EST-LAP-05\\Ken Kahn
vti_modifiedby:SR|EST-LAP-05\\Ken Kahn
vti_timecreated:TR|29 May 2005 14:51:05 -0000
