vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|23 Apr 2005 10:20:06 -0000
vti_extenderversion:SR|5.0.2.6417
vti_backlinkinfo:VX|Tools/Sequences/Doc/HalverSequenceNotebook.htm Sequences/Doc/HalferSequenceNotebook.htm
vti_author:SR|EST-LAP-05\\Ken Kahn
vti_modifiedby:SR|EST-LAP-05\\Ken Kahn
vti_timecreated:TR|01 Jul 2005 06:18:28 -0000
