vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|22 Apr 2005 15:52:45 -0000
vti_extenderversion:SR|5.0.2.6417
vti_backlinkinfo:VX|Lunar/doc/lunar_lander_notebook.htm
vti_author:SR|EST-LAP-05\\Ken Kahn
vti_modifiedby:SR|EST-LAP-05\\Ken Kahn
vti_timecreated:TR|29 May 2005 16:05:00 -0000
