   This is the result of "pasting" a ToonTalk object. You can include
this in files, email, or whatever. To decode it just use any program
that can copy this to the Windows clipboard. For example, you can use
Windows Notepad or WordPad program. Select all of the text
and then use the Copy command in the Edit menu. Then it will appear
in the ToonTalk remote control for the clipboard. You can find the
clipboard remote control on page 30 of the Sensor notebook. Just use
Dusty to vacuum it off the clipboard. Control-v is a shortcut for pasting. 
   The following is a notebook.
   What follows is in a special code and was produced by ToonTalk(tm) 
Beta 300301. To learn more about ToonTalk see www.toontalk.com.
=BStartToonTalkEncoding:
+AAACf--AQBUblRsbDAyMAIACgAAAA7-BABvcGVyAAOsBgAA+AAABf8w-wIAR2--Agr-AAIA
Cv8AAwAA-wYAAAArAQAO-wEALwADAP8FAAAAKwEAB--4AQAG--gCAAD-BAAAACsAAPgDAAD-
EQAAACsAAP---yUAAQEBDzEwLjEzNC4xMDMuMjQzALCPtbOA5dQRnlIAEEuWaE0B-yA9Af8A
AAL-AAcAAAD-AAgU-wAHAAAC-wARDf8vCRT-AAcU-wATAAH-AAEM-wACAQ3-AAcV-wAWAf8A
FQH-ABf----4BAAF-zD-AgBGb-8CCv8AAgAK-wADAAD-BgAAACsBAA7-AQB4AAMA-wUAAAAr
AQAH--gFAAb-----JQABAQEPMTAuMTM0LjEwMy4yNDMAtI+1s4Dl1BGeUgAQS5ZoTQH-IDwB
-wAAAv8ABwAAAP8ACBT-AAcAAAL-ABEN-3gJFP8ABxT-ABMAAf8AAQz-AAIBDf8ABxX-ABYB
-wAVAf8AF-----gGAAX-MP8CAERv-wIK-wACACD-AAMABEgi6AAA-wEAAAArAQAADv8BAC0A
AwAA-wMAAAArAQAH--gHAAb-+AgAAP8KAAAAKwAA----JQABAQEPMTAuMTM0LjEwMy4yNDMA
1MWphXnl1BGeUgAQS5ZoTQH-IDsB-wAAAv8ABwAAAP8ACBT-AAcAAAL-ABEN-y0JFP8ABxT-
ABMAAf8AAQz-AAIBDf8ABxX-ABYB-wAVAf8AF-----gJAAX-MP8CAFNp-wIK-wACAAr-AAMA
AP8CAAAAKwEADv8BACsAAwD-AwAAACsBAAf-+AoABv-4CwAA-wYAAAArAAD---8lAAEBAQ8x
MC4xMzQuMTAzLjI0MwDQxamFeeXUEZ5SABBLlmhNAf8gMwH-AAAD-wAHAAD-AAgU-wAHFAD-
AAgV-wAHFAL-AAkV-wAHFf8AEwAB-wABDP8AAgIN-wAHFv8AFgH-ABUB-wAX----+AwABf8w
-wIAVmn-Agr-AAIACv8AAwAK-wEDAAD-AgAAACsAACL-AQArAAMA-wMAAAArAQAi-wEAKwAD
AP8BAAAAKwEAB--4DQAG-----yUAAQEBDzEwLjEzNC4xMDMuMjQzANLFqYV55dQRnlIAEEuW
aE0B-yA1Af8AAAb-AAEG-wACAAr-AAcU-wARDf8yCBT-AAcAAAD-AAkUAP8AAQf-AAIBBv8A
GhX-AAICB-8ACBX-AAcW-wAJFAH-ABoV-wAJAAAA-wABBf8AAgMO-wAHF-8AEQ3-CBEN-28R
Df9wEQ3-ZREN-3IJCf8AAQj-AAIECP8ABxj-AAgY-wAHCQH-AAIFBf8AFBj-AAcU-wAUGP8A
F-----gOAAX-MP8CAFhp-wIK-wACAAr-AAMAAP8BAAAAKwEAIv8BACsAAwr-AQMAAP8CAAAA
KwAADv8BACsAAwD-AwAAACsAAAf-+A8ABv-4EAAA-woAAAArAAD---8lAAEBAQ8xMC4xMzQu
MTAzLjI0MwCyj7WzgOXUEZ5SABBLlmhNAf8gNwH-AAAG-wABBv8AAgAK-wAHFP8AEQ3-MggU
-wABB-8AAgEG-wAaFf8AAgIH-wAIFf8ABxb-AAkUAf8ABwAAAv8ACRQA-wAaFf8ACQAAAv8A
AQX-AAIDDv8ABxf-ABEN-wgRDf9vEQ3-cBEN-2URDf9yCQn-AAEI-wACBAj-AAcY-wAIGP8A
BxT-ABQY-wAHCQH-AAIFBf8AFBj-ABf----4EQAF-zD-AgBDb-8CCv8AAgAK-wADAAr-AQMA
AP8CAAAAKwAADv8BACsAAwD-AwAAACsAACL-AQArAAMK-wEDAAD-AgAAACsAAA7-AQArAAMA
-wMAAAArAAAH--gSAAb-----JQABAQEPMTAuMTM0LjEwMy4yNDMA1sWphXnl1BGeUgAQS5Zo
TQH-IDoB-wAAC-8AAQb-AAIACv8ABxT-ABEN-zIIFP8ABwAAAP8ACRQA-wABB-8AAgEG-wAa
Ff8AAgIH-wAIFf8ABxb-AAkUAf8AGhX-AAkAAAD-AAEG-wACAwr-AAcX-wAIF-8ABxf-ABEN
-zIIF-8ABwAAAv8ACRcA-wABB-8AAgQG-wAaGP8AAgUH-wAIGP8ABxn-AAkXAf8AGhj-AAkA
AAL-AAEI-wACBgj-AAca-wAIGv8ABxT-ABQa-wABCP8AAgcI-wAHG-8ACBv-AAcX-wAUG-8A
AQX-AAIIDv8ABxz-ABEN-wgRDf9vEQ3-cBEN-2URDf9yCQn-AAcJAf8AAgkF-wAUGv8ABwkB
-wACCgX-ABQb-wAX-----wA=
.
This is the end of the code for the ToonTalk object. 
