#include "toontalk.h"

ASK_NAME_DIALOG DIALOG 6, 47, 181, 66
STYLE DS_SYSMODAL | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MINIMIZEBOX | WS_MAXIMIZEBOX
CAPTION "Welcome to ToonTalk"
FONT 16, "MS Sans Serif"
{
 CONTROL "", IDC_EDIT1, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 40, 14, 104, 10
 CONTROL "Hi.  Please type your name.", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 34, 2, 117, 8
 CONTROL "And how do you want to look?", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 43, 28, 94, 8
 CONTROL "With long hair", IDC_BUTTON1, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 44, 50, 14
 CONTROL "With a hat", IDC_BUTTON2, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 64, 44, 50, 14
 CONTROL "Bald", IDC_BUTTON3, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 124, 44, 50, 14
}

LOADING_WAIT DIALOG 24, 19, 77, 22
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_THICKFRAME
CAPTION "Reading from CDROM"
FONT 24, "MS Sans Serif"
{
 LTEXT "Loading.  Please wait.", -1, 4, 6, 68, 9
}

//TOONTALK_PALETTE RCDATA "toontalk.pal"

// this only used so that old demos like Pongact2 and 3 run after expanding the set of pictures
NOTEBOOK_PICTURES_OLD RCDATA "\tt\english\toontalk.o2"

NOTEBOOK_PICTURES RCDATA "\tt\turkish\toontalk.2"
NOTEBOOK_GLOBAL_REMOTES RCDATA "\tt\turkish\toontalk.4"
NOTEBOOK_EXAMPLES RCDATA "\tt\english\toontalk.6"
NOTEBOOK_SOUNDS RCDATA "\tt\turkish\toontalk.8"
NOTEBOOK_OPTIONS RCDATA "\tt\turkish\toontalk.10"
NOTEBOOK_LOCAL_REMOTES RCDATA "\tt\english\toontalk.rem"
NOTEBOOK_MAIN RCDATA "\tt\english\toontalk.bok"

//NOTEBOOK_NICKY_SALLY RCDATA "nickysal.bok" // -- needed for the third part of the Pong demo

PAUSED_DIALOG DIALOG 2, 31, 204, 59
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "ToonTalk Paused"
FONT 16, "MS Sans Serif"
{
 DEFPUSHBUTTON "Back to ToonTalk", IDCONTINUETOONTALK, 5, 35, 63, 14
 PUSHBUTTON "Come back later", IDMINIMIZETOONTALK, 75, 35, 57, 14
 PUSHBUTTON "Leave ToonTalk", IDQUITTOONTALK, 138, 35, 61, 14
 LTEXT "ToonTalk has been stopped. ", -1, 6, 9, 191, 19
}

DEMO_PAUSED_DIALOG DIALOG 2, 31, 204, 59
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "ToonTalk Demo Paused"
FONT 16, "MS Sans Serif"
{
 CONTROL "Back to Demo", IDCONTINUETOONTALK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 35, 63, 14
 CONTROL "Take Control", IDQUITDEMO, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 73, 35, 59, 14
 CONTROL "Leave Demo", IDQUITTOONTALK, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 138, 35, 61, 14
 CONTROL "ToonTalk demo has been stopped.  ", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 46, 11, 111, 19
}

INTERRUPTED_DIALOG DIALOG 2, 31, 204, 59
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "ToonTalk Paused"
FONT 16, "MS Sans Serif"
{
// DEFPUSHBUTTON "Back to ToonTalk", IDCONTINUETOONTALK, 5, 35, 63, 14
 PUSHBUTTON "Come back later", IDMINIMIZETOONTALK, 75, 35, 57, 14
// PUSHBUTTON "Leave ToonTalk", IDQUITTOONTALK, 138, 35, 61, 14
 LTEXT "ToonTalk stopped by another program. ", -1, 6, 9, 191, 19
}




