// Copyright (c) 1992-2003. Ken Kahn, Animated Programs, All rights reserved

// Following might be worth translating but non-ascii letters cause problems
// This is because most Java compilers aren't up to Java specs.

IDS_JAVA_TEMP,   // just a name for storing temporary things
 "temp"
IDS_JAVA_HAND,   // a short name for what is in your hand
 "hand"
IDS_JAVA_VACUUM,  // a name for a copy of Dusty
 "vacuum"
IDS_JAVA_GIVEN,   // a name for whatever a robot was given
 "given"
IDS_JAVA_OLD_GIVEN,  // a name for whatever a robot was given before
 "old_given"
IDS_JAVA_WANTS,   // a name for what a robot wants (i.e. what is in his thought bubble)
 "wants"
IDS_JAVA_BOX,
 "box"
IDS_JAVA_DISPLAYED_BOX,
 "displayed_box"
IDS_JAVA_NOTEBOOK,
 "notebook"
IDS_JAVA_TEAM,   // a name for a team of robots
 "team"
IDS_JAVA_ROBOT,
 "robot"
IDS_JAVA_NEXT_ROBOT,  // the next robot in line
 "next_robot"
IDS_JAVA_NEST,
 "nest"
IDS_JAVA_ITEM_ON_NEST,     // a name for the top item covering a nest
 "item_on_nest"
IDS_JAVA_ROBOT_CLASS,     // robot classes are given this name followed by a number (e.g. Robot3)
 "Robot"
IDS_JAVA_ERASED,
 "erased"
IDS_JAVA_ERASE,
 "erase" // message when erased by Dusty
IDS_JAVA_PICTURE,
 "picture"
IDS_JAVA_OPERATIONS,
 "operations"

// strings used in compiling ToonTalk to Java that should not be translated

IDS_JAVA_TT_OBJECT,
 "TTObject"
IDS_JAVA_TT_BIRD,
 "TTBird"
IDS_JAVA_TT_NOTEBOOK,
 "TTNotebook"
IDS_JAVA_TT_TRUCK,
  "TTTruck"
IDS_JAVA_PICK_UP,
 "pickUp"
IDS_JAVA_SUCK_UP,
 "suckUp"
IDS_SPIT_OUT,
 "spitOut"
IDS_JAVA_HOLE_GETS,
 "holeGets"
IDS_JAVA_SIDE_GETS,
 "sideGets"
IDS_JAVA_SET_HOLE,
 "setHole"
IDS_JAVA_SET_NEST,
 "setNest"
IDS_JAVA_COPY,
 "copy"
IDS_JAVA_GETS,
 "gets"
IDS_JAVA_BECOMES,
 "becomes"
IDS_JAVA_KEYBOARD,
 "keyboard"
IDS_JAVA_SET_NEXT_ROBOT,
 "setNextRobot"
IDS_JAVA_PUT_ON_NEST,
 "putOnNest"
IDS_JAVA_MATCHES,
 "matches"
IDS_JAVA_HOLE,
 "hole"
IDS_JAVA_PAGE,
 "page"
IDS_JAVA_SET_PAGE,
 "setPage"
IDS_JAVA_ADD_PICTURE,
 "addPicture"
IDS_JAVA_TT_VACUUM,
 "TTVacuum"
IDS_JAVA_TT_TEAM,
 "TTTeam"
IDS_JAVA_TT_ROBOT,
 "TTRobot"
IDS_JAVA_TT_BOX,
 "TTBox"
IDS_JAVA_TT_TEXT,
 "TTText"
IDS_JAVA_TT_SCALE,
 "TTScale"
IDS_JAVA_TT_NOTEBOOK_CLASS,
 "TTNotebook"
IDS_JAVA_TT_INTEGER,
 "TTNumber" // was TTInteger prior to 030503
//IDS_JAVA_TT_RANDOM_INTEGER,
// "TTRandomInteger"
IDS_JAVA_TT_REMOTE_INTEGER,
 "TTRemoteInteger"
IDS_JAVA_TT_GLOBAL_REMOTE,
 "TT.GLOBAL_REMOTE"
IDS_JAVA_TT_NEST,
 "TTNest"
IDS_JAVA_TT_PICTURE,
 "TTPicture"
IDS_JAVA_TT_BMP_PICTURE,
 "TTBMPPicture"
IDS_JAVA_TT_GIF_PICTURE,
 "TTGIFPicture"
IDS_JAVA_TT_RECTANGLE,
 "TTRectangle"
IDS_JAVA_TT_OVAL,
 "TTOval"
IDS_JAVA_TT_ROUNDED_RECTANGLE,
 "TTRoundedRectangle"
IDS_JAVA_TT_LINE_UP,
 "TTLineUp"
IDS_JAVA_TT_LINE_DOWN,
 "TTLineDown"
IDS_JAVA_TT_HOLLOW_OVAL,
 "TTHollowOval"
IDS_JAVA_TT_ROUNDED_HOLLOW_RECTANGLE,
 "TTRoundedHollowRectangle"
IDS_JAVA_TT_DOTTED_LINE_UP,
 "TTDottedLineUp"
IDS_JAVA_TT_DOTTED_LINE_DOWN,
 "TTDottedLineDown"
IDS_JAVA_TT_HOLLOW_RECTANGLE,
 "TTHollowRectangle"
IDS_JAVA_TT_DOT_NOTHING,
 "TT.NOTHING"
IDS_JAVA_TT_NOTHING,
 "TTNothing"
IDS_JAVA_MAIN_NOTEBOOK,
 "TT.NOTEBOOK"
IDS_JAVA_TT_BLANK_BOX,
 "TT.BLANK_BOX"
IDS_JAVA_TT_BLANK_TEXT,
 "TT.BLANK_TEXT"
IDS_JAVA_TT_MAGIC_WAND,
 "TT.MAGIC_WAND"
IDS_JAVA_TT_BLANK_NUMBER,
 "TT.BLANK_NUMBER"
IDS_JAVA_FALSE,
 "false"
IDS_JAVA_TRUE,
 "true"
IDS_JAVA_NULL,
 "null"
IDS_JAVA_START,
 "start"
IDS_JAVA_RETURN_THIS,
 "return this;"
IDS_JAVA_RETURN_NULL,
 "return null;"
IDS_JAVA_THROW_TT_EXCEPTION,
 "throw new TTBombExplosion();"
IDS_JAVA_PUBLIC_CLASS,
 "public class"
IDS_JAVA_EXTENDS_TT_APPLET,
 "extends TTApplet {"
IDS_JAVA_EXTENDS_TT_ROBOT,
 "extends TTRobot {"
IDS_JAVA_PUBLIC_VOID_INIT,
 "public void initialize() {"
IDS_JAVA_STATIC_FINAL,
 "static final"
IDS_JAVA_CLASS,
 "class"
IDS_JAVA_TT_NOTEBOOK_ARGLIST,
 "(TTNotebook n) {"
IDS_JAVA_N,
 "n"
IDS_JAVA_GETS_METHOD_HEADING,
 "public TTObject gets(TTObject given) throws TTException {"
IDS_JAVA_IF_NOT,
 "if (!"
IDS_JAVA_IMPORT_TOONTALK_PACKAGE,
 "import ap.toontalk.*;"
IDS_JAVA_VOID_MAIN,
 " public static void main(String args[]) {"
IDS_JAVA_MAIN_BODY1,
 "  new TTFrame().begin(new "
IDS_JAVA_MAIN_BODY2,
 "());"
IDS_JAVA_SET_STARTING_TEAM,
 "setStartingTeam"
IDS_JAVA_ADD_TEAM,
 "addTeam"
IDS_JAVA_ANSWER_COUNT,
 "answer_count"
IDS_JAVA_ANSWER_COUNT_PLUS_PLUS,
 "answer_count++"
IDS_JAVA_ANSWER,
 "answer"
IDS_JAVA_TT_REMOTE_PICTURE,
 "TTRemotePicture"
IDS_JAVA_TT_SOUND,
 "TTSound"
IDS_JAVA_USE,
 "use"
IDS_JAVA_TT_BLANK_SOUND,
 "TT.BLANK_SOUND"
IDS_JAVA_TT_INDIRECT_PICTURE,
 "TTIndirectPicture"
IDS_JAVA_TT_REMOTE_APPEARANCE,
 "TTRemoteLooks"
IDS_JAVA_TT_REMOTE_PICTURE_NO_APPEARANCE, // new on 230700 - need for remote pictures that aren't displaying anything (e.g. hit who)
 "TT.REMOTE_PICTURE_NO_APPEARANCE"
IDS_JAVA_TT_BLANK_PICTURE,
 "TT.BLANK_PICTURE"
IDS_JAVA_SET_WANTS,
 "setWants"
IDS_JAVA_TT_IMAGE_CYCLE_PICTURE,
 "TTImageCyclePicture"
IDS_JAVA_TT_DOT_IMAGE_CYCLES,
 "TT.IMAGE_CYCLES"
IDS_JAVA_TT_IMAGE_CYCLES,
 "TTImageCycles"
IDS_JAVA_ADD_IMAGE,
 "addImage"
IDS_JAVA_INITIALIZE,
 "initialize"

IDS_JAVA_X_REMOTE_IDENTIFIER,
 "TT.X_REMOTE"
IDS_JAVA_Y_REMOTE_IDENTIFIER,
 "TT.Y_REMOTE"
IDS_JAVA_X_SPEED_REMOTE_IDENTIFIER,
 "TT.X_SPEED_REMOTE"
IDS_JAVA_Y_SPEED_REMOTE_IDENTIFIER,
 "TT.Y_SPEED_REMOTE"
IDS_JAVA_WIDTH_REMOTE_IDENTIFIER,
 "TT.WIDTH_REMOTE"
IDS_JAVA_HEIGHT_REMOTE_IDENTIFIER,
 "TT.HEIGHT_REMOTE"
IDS_JAVA_PARAMETER_REMOTE_IDENTIFIER,
 "TT.PARAMETER_REMOTE"
IDS_JAVA_HIT_OR_MISS_REMOTE_IDENTIFIER,
 "TT.HIT_OR_MISS_REMOTE"
IDS_JAVA_COLLIDEE_REMOTE_IDENTIFIER,
 "TT.COLLIDEE_REMOTE"
IDS_JAVA_MOUSE_SPEED_X_REMOTE_IDENTIFIER,
 "TT.MOUSE_SPEED_X_REMOTE"
IDS_JAVA_MOUSE_SPEED_Y_REMOTE_IDENTIFIER,
 "TT.MOUSE_SPEED_Y_REMOTE"
IDS_JAVA_CLOCK_REMOTE_IDENTIFIER,
 "TT.CLOCK_REMOTE"
IDS_JAVA_RANDOM_REMOTE_IDENTIFIER,
 "TT.RANDOM_REMOTE"
IDS_JAVA_X_HIT_OR_MISS_REMOTE_IDENTIFIER,
 "TT.X_HIT_OR_MISS_REMOTE"
IDS_JAVA_Y_HIT_OR_MISS_REMOTE_IDENTIFIER,
 "TT.Y_HIT_OR_MISS_REMOTE"
IDS_JAVA_APPEARANCE_REMOTE_IDENTIFIER,
 "TT.APPEARANCE_REMOTE"
IDS_JAVA_VISIBLE_REMOTE_IDENTIFIER,
 "TT.VISIBLE_REMOTE"
IDS_JAVA_END_OF_ANIMATION_REMOTE_IDENTIFIER,
 "TT.END_OF_ANIMATION_REMOTE"
IDS_JAVA_GRASPED_REMOTE_IDENTIFIER,
 "TT.GRASPED_REMOTE"
IDS_JAVA_SELECTED_REMOTE_IDENTIFIER,
 "TT.SELECTED_REMOTE"
IDS_JAVA_RELEASED_REMOTE_IDENTIFIER,
 "TT.RELEASED_REMOTE"

IDS_JAVA_CHILDREN_REMOTE_IDENTIFIER, // new on 240700
 "TT.CHILDREN_REMOTE"
IDS_JAVA_ANCESTORS_REMOTE_IDENTIFIER,
 "TT.ANCESTORS_REMOTE"



IDS_JAVA_MOUSE_LEFT_BUTTON_REMOTE_IDENTIFIER,
 "TT.MOUSE_LEFT_BUTTON_REMOTE"
IDS_JAVA_MOUSE_MIDDLE_BUTTON_REMOTE_IDENTIFIER,
 "TT.MOUSE_MIDDLE_BUTTON_REMOTE"
IDS_JAVA_MOUSE_RIGHT_BUTTON_REMOTE_IDENTIFIER,
 "TT.MOUSE_RIGHT_BUTTON_REMOTE"
IDS_JAVA_MOUSE_LEFT_BUTTON_DOWN_REMOTE_IDENTIFIER,
 "TT.MOUSE_LEFT_BUTTON_DOWN_REMOTE"
IDS_JAVA_MOUSE_MIDDLE_BUTTON_DOWN_REMOTE_IDENTIFIER,
 "TT.MOUSE_MIDDLE_BUTTON_DOWN_REMOTE"
IDS_JAVA_MOUSE_RIGHT_BUTTON_DOWN_REMOTE_IDENTIFIER,
 "TT.MOUSE_RIGHT_BUTTON_DOWN_REMOTE"
IDS_JAVA_KEYBOARD_BUTTON_REMOTE_IDENTIFIER,
 "TT.KEYBOARD_BUTTON_REMOTE"
IDS_JAVA_LAST_KEYSTROKE_REMOTE_IDENTIFIER,
 "TT.LAST_KEYSTROKE_REMOTE"
IDS_JAVA_SHIFT_DOWN_REMOTE_IDENTIFIER,
 "TT.SHIFT_DOWN_REMOTE"
IDS_JAVA_CONTROL_DOWN_REMOTE_IDENTIFIER,
 "TT.CONTROL_DOWN_REMOTE"
IDS_JAVA_HAND_VISIBLE_REMOTE_IDENTIFIER,
 "TT.HAND_VISIBLE_REMOTE"
IDS_JAVA_CLIPBOARD_REMOTE_IDENTIFIER,
 "TT.CLIPBOARD_REMOTE"
IDS_JAVA_AVENUE_REMOTE_IDENTIFIER,
 "TT.AVENUE_REMOTE"
IDS_JAVA_STREET_REMOTE_IDENTIFIER,
 "TT.STREET_REMOTE"
IDS_JAVA_SOUND_ON_REMOTE_IDENTIFIER,
 "TT.SOUND_ON_REMOTE"
IDS_JAVA_LETTER_SIZE_REMOTE_IDENTIFIER,
 "TT.LETTER_SIZE_REMOTE"
IDS_JAVA_READING_SPEED_REMOTE_IDENTIFIER,
 "TT.READING_SPEED_REMOTE"
IDS_JAVA_MARTIAN_ADVICE_LEVEL_REMOTE_IDENTIFIER,
 "TT.MARTIAN_ADVICE_LEVEL_REMOTE"
IDS_JAVA_PROGRAMMER_HEAD_REMOTE_IDENTIFIER,
 "TT.PROGRAMMER_HEAD_REMOTE"
IDS_JAVA_SCREEN_SIZE_REMOTE_IDENTIFIER,
 "TT.SCREEN_SIZE_REMOTE"
IDS_JAVA_SYSTEM_SPEED_REMOTE_IDENTIFIER,
 "TT.SYSTEM_SPEED_REMOTE"
IDS_JAVA_CITY_SIZE_REMOTE_IDENTIFIER,
 "TT.CITY_SIZE_REMOTE"
IDS_JAVA_SYSTEM_SLEEP_REMOTE_IDENTIFIER,
 "TT.SYSTEM_SLEEP_REMOTE"
IDS_JAVA_MOUSE_BUTTONS_REMOTE_IDENTIFIER,
 "TT.MOUSE_BUTTONS_REMOTE"
IDS_JAVA_LEGO_SERIAL_PORT_REMOTE_IDENTIFIER,
 "TT.LEGO_SERIAL_PORT_REMOTE"
IDS_JAVA_MARTIAN_FONT_REMOTE_IDENTIFIER,
 "TT.MARTIAN_FONT_REMOTE"
IDS_JAVA_FILE_TO_PICTURE_REMOTE_IDENTIFIER,
 "TT.FILE_TO_PICTURE_REMOTE"
IDS_JAVA_FILE_TO_SOUND_REMOTE_IDENTIFIER,
 "TT.FILE_TO_SOUND_REMOTE"
IDS_JAVA_FILE_TO_MOVIE_REMOTE_IDENTIFIER,
 "TT.FILE_TO_MOVIE_REMOTE"
IDS_JAVA_MARTIAN_SPEAK_REMOTE_IDENTIFIER,
 "TT.MARTIAN_SPEAK_REMOTE"
IDS_JAVA_NO_IDENTIFIER_GIVEN_IDENTIFIER,
 "TT.NO_IDENTIFIER_GIVEN"
IDS_JAVA_SET_PICTURE,
 "setPicture"
IDS_JAVA_DISPLAY_THIS,
 "displayThis"
IDS_JAVA_GET_LOCAL_REMOTES_NOTEBOOK,
 "getLocalRemotesNotebook"
IDS_JAVA_GET_PICTURES_NOTEBOOK,
 "getPicturesNotebook"
IDS_JAVA_GET_GLOBAL_REMOTES_NOTEBOOK,
 "getSensorsNotebook"
IDS_JAVA_GET_SOUNDS_NOTEBOOK,
 "getSoundsNotebook"
IDS_JAVA_GET_OPTIONS_NOTEBOOK,
 "getOptionsNotebook"
IDS_JAVA_SET_CONTROLEE,
 "setControlee"


IDS_JAVA_MAIN_CUBBY,
 "given"
IDS_JAVA_NO_ARG,
 "hand"  // not sure if second item should be "hand" here -- is NO_ARG...
IDS_JAVA_A_COPIER,
// updated much of the following on 131000
 "copier" // "new TTCopier()"
IDS_JAVA_A_VACUUM,
  "vacuum" //"new TTVacuum()"
IDS_JAVA_INTEGER_STACK,
  "new TTNumber(1)"
IDS_JAVA_TEXT_STACK,
  "new TTText(""A"")"
IDS_JAVA_CUBBY_STACK,
  "new TTBox(1)"
IDS_JAVA_NEST_STACK,
  "new TTNest()"
IDS_JAVA_TRUCK_STACK,
   "new TTTruck(this)" // this added on 150201
IDS_JAVA_PROGRAM_PADS,
   "notebook"
IDS_JAVA_ROBOT_STACK,
   "new TTRobot()"  // untrained ...
IDS_JAVA_SCALE_STACK,
   "new TTScale('?')"
IDS_JAVA_BOMB_STACK,
    "TT.BOMB"
IDS_JAVA_ITEM_HELD,
    "hand"
IDS_JAVA_AN_EXPANDER, // could improve this if really used (e.g. on a remote looks)
   "new TTExpander()"
IDS_JAVA_GET_PART_OF_TYPE,
  "get"
//IDS_JAVA_SET_BIRD, // obsolete on 011200
//  "setBird"


IDS_HTML_ALT_NO_JAVA,
 "<p>You need a browser that can run Java to see this.  The latest browsers from Microsoft or Netscape should work fine.</p>"

 // these are not translatable
IDS_HTML_END_TITLE,
 "</title>"
IDS_HTML_HR,
 "<hr>"
IDS_HTML_APPLET_CODE,
 "<applet code="
IDS_HTML_WIDTH,
 "width="
IDS_HTML_HEIGHT,
 "height="
IDS_HTML_APPLET_END,
 "</applet>"
IDS_HTML_START_HREF,
 "<a href="
IDS_HTML_PARAM,
 "<param"
IDS_HTML_NAME_EQUALS,
 "name="
IDS_HTML_VALUE_EQUALS,
 "value="
IDS_HTML_PICTURE_WIDTH,
 "pictureWidth"
IDS_HTML_PICTURE_HEIGHT,
 "pictureHeight"
IDS_HTML_LANGUAGE,
 "language"
IDS_HTML_ARCHIVE,
"archive="
IDS_HTML_CABBASE, // used for IE only
"cabbase"
IDS_HTML_RUN_IN_NEW_WINDOW
"runInNewWindow"
//"<param name=cabbase value=ttclass.cab>"

IDS_JAVA_GET_STATE, // new on 051000
 ".getState()"
IDS_JAVA_VACUUM_SUCK_STATE,
 "TTVacuum.SUCK_STATE"

