#include "sounds.h"

HELICOPTER_SOUND WAV "sounds\helicopt.wav"
BIRD_HATCH_SOUND WAV "sounds\sparrow2.wav"
BIRD_FLY_SOUND WAV "sounds\pigeon2.wav"
TRUCK_REV_SOUND WAV "sounds\hot_rod2.wav"
MAGIC_SOUND WAV "sounds\angels_f.wav"
B_WOP_SOUND WAV "sounds\b_wop.wav"
B_YAW_SOUND WAV "sounds\electric.wav"
SPIRAL_IN_SOUND WAV "sounds\spiralin.wav"
SPIRAL_OUT_SOUND WAV "sounds\out_spir.wav"
BOOK_DROP_SOUND WAV "sounds\book_dro.wav"
DOOR_CREAK_SOUND WAV "sounds\door_cr4.wav"
DUSTBUSTER_SOUND WAV "sounds\dustbus2.wav"
EXPLOSION_SOUND WAV "sounds\exp2.wav"
HAND_PUMP_SOUND WAV "sounds\hand_pum.wav"
OUCH_SOUND WAV "sounds\ouch.wav"
PLOP_SOUND WAV "sounds\plop.wav"
POP_SOUND WAV "sounds\pop.wav"
WALKING_INSIDE_SOUND WAV "sounds\ins_step.wav"
TYPING_SOUND WAV "sounds\type.wav"
TRAFFIC_SOUND WAV "sounds\traf2.wav"
PAGE_TURNING_SOUND WAV "sounds\turning1.wav"
NEAT_EFFECT_SOUND WAV "sounds\neat_eff.wav"
TRUCK_DRIVE_SOUND WAV "sounds\drive.wav"
BIKE_BELL_SOUND WAV "sounds\bellbike.wav"
BOING1_SOUND WAV "sounds\boing3.wav"
CALCULATING_SOUND WAV "sounds\calc.wav"
LOTS_OF_SILLY_SOUNDS WAV "sounds\comedy1.wav"
WHIT_SOUND WAV "sounds\comedy2.wav"
DEFLATING_SOUND WAV "sounds\deflatin.wav"
DOOR_SOUND WAV "sounds\door1.wav"
STEP_SOUND WAV "sounds\fstep33.wav"
GLASS_HIGH_SOUND WAV "sounds\glass_hi.wav"
GLASS_LOW_SOUND WAV "sounds\glass_lo.wav"
SHUTDOWN_SOUND WAV "sounds\shutdown.wav"
SPIT_SOUND WAV "sounds\spit1.wav"
SWITCH_SOUND WAV "sounds\switch.wav"
TELEPORT_SOUND WAV "sounds\teleport.wav"
TWING_SOUND WAV "sounds\twingy.wav"


