#include "toontalk.h"

ASK_NAME_DIALOG DIALOG 6, 47, 202, 66
STYLE DS_SYSMODAL | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MINIMIZEBOX | WS_MAXIMIZEBOX
CAPTION "Bem-vindo ao ToonTalk"
FONT 14, "MS Sans Serif"
{
 CONTROL "", IDC_EDIT1, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 50, 14, 104, 10
 CONTROL "Oi. Por favor, digite o seu nome.", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 44, 2, 117, 8
 CONTROL "E como você quer aparecer?", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 53, 28, 94, 8
 CONTROL "Com cabelo comprido", IDC_BUTTON1, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 44, 72, 14
 CONTROL "Com chapéu", IDC_BUTTON2, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 84, 44, 56, 14
 CONTROL "Careca", IDC_BUTTON3, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 148, 44, 50, 14
}

LOADING_WAIT DIALOG 24, 19, 105, 22
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_THICKFRAME
CAPTION "Lendo do CDROM"
FONT 24, "MS Sans Serif"
{
 CONTROL "Carregando. Por favor, aguarde.", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 6, 108, 9
}

//TOONTALK_PALETTE RCDATA "toontalk.pal"


NOTEBOOK_PICTURES RCDATA "\tt\port\toontalk.2"
NOTEBOOK_GLOBAL_REMOTES RCDATA "\tt\port\toontalk.4"
NOTEBOOK_EXAMPLES RCDATA "\tt\port\toontalk.6"
NOTEBOOK_SOUNDS RCDATA "\tt\port\toontalk.8"
NOTEBOOK_OPTIONS RCDATA "\tt\port\toontalk.10"
NOTEBOOK_LOCAL_REMOTES RCDATA "\tt\port\toontalk.rem"
NOTEBOOK_MAIN RCDATA "\tt\port\toontalk.bok"

//NOTEBOOK_NICKY_SALLY RCDATA "nickysal.bok" // -- needed for the third part of the Pong demo

PAUSED_DIALOG DIALOG 2, 31, 213, 73
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "ToonTalk Parado"
FONT 14, "MS Sans Serif"
{
 CONTROL "Retornar ao ToonTalk", IDCONTINUETOONTALK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 35, 75, 14
 CONTROL "Voltar mais tarde", IDMINIMIZETOONTALK, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 84, 35, 60, 14
 CONTROL "Sair do ToonTalk", IDQUITTOONTALK, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 148, 35, 61, 14
 CONTROL "O ToonTalk foi interrompido.  Se você sair, tudo menos o seu caderno principal será perdido.", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 11, 9, 191, 19
 CONTROL "Salvar Tudo", ID_SAVE_EVERYTHING, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 56, 192, 12
}

DEMO_PAUSED_DIALOG DIALOG 2, 31, 264, 59
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Demonstração do ToonTalk Parada "
FONT 12, "MS Sans Serif"
{
 CONTROL "Retornar à Demonstração", IDCONTINUETOONTALK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 35, 88, 14
 CONTROL "Assumir o Controle", IDQUITDEMO, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 104, 35, 68, 14
 CONTROL "Sair da Demonstração", IDQUITTOONTALK, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 184, 35, 77, 14
 CONTROL "A demonstração do ToonTalk foi interrompida.  ", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 57, 11, 150, 19
}

PAUSED_NO_SAVE_DIALOG DIALOG 2, 31, 213, 59
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "ToonTalk Parado"
FONT 14, "MS Sans Serif"
{
 CONTROL "Retornar ao ToonTalk", IDCONTINUETOONTALK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 35, 75, 14
 CONTROL "Voltar mais tarde", IDMINIMIZETOONTALK, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 84, 35, 60, 14
 CONTROL "Sair do ToonTalk", IDQUITTOONTALK, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 148, 35, 61, 14
 CONTROL "O ToonTalk foi interrompido.  Se você sair, tudo menos o seu caderno principal será perdido.", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 11, 9, 191, 19
}

INTERRUPTED_DIALOG DIALOG 2, 31, 204, 59
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "ToonTalk Paused"
FONT 16, "MS Sans Serif"
{
 CONTROL "Voltar mais tarde", IDMINIMIZETOONTALK, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 75, 35, 57, 14
 CONTROL "O ToonTalk foi interrompido. ", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 6, 9, 191, 19
}


