Å@Å@,B1jMÅ(BAToonTalkÉIÉuÉWÉFÉNÉg,Bpì(B\,Bhï(Bt,B/=åã(IJ,BE7Å(BBåN,BMÅ(BA,B1jp(B
ÉtÉ@ÉCÉã,BbÇ(BdÉÅÅ[ÉãìôÅA(I=,BIE`(J\,B_i1F*E+\7Å(BB,B;jp,L),BiIMÅ(BA
Windows,BLÉ(BNÉäÉbÉvÉ{Å[Éh,BIÉ(BRÉsÅ[,BE+iÉ(BvÉçÉOÉâÉÄ,Bp(B_g,B"\7Å(BBó·,B&NÅ(BAÉÅÉÇí†,Bb(B
ÉèÅ[ÉhÉpÉbÉh,B*(B_g,B&\7Å(BB,B7WDLÉ(BeÉLÉXÉg,Bpë(BIë,B5Å(BAï“èWÉRÉ}ÉìÉh,BLíÜL(B
ÉRÉsÅ[ÉRÉ}ÉìÉh,Bp(B_g,B"\7Å(BB,B7iFÅ(BA,B;jMÅ(BAÉNÉäÉbÉvÉ{Å[ÉhópÉäÉÇÉRÉì,BLíÜI(B
,L;,Bj\7Å(BBÉNÉäÉbÉvÉ{Å[ÉhópÉäÉÇÉRÉì,BMÅ(BAÉZÉìÉTÅ[ÉmÅ[Ég,BLÇ(BRÇOÉyÅ[ÉW,BI h\7Å(BB
ÉNÉäÉbÉvÉ{Å[Éh,B)gã(Bz,B"(B_Ê,BiIMÅ(BAÉ_ÉXÉeÉB,Bp(B_g,B"\7Å(BB
ÉRÉìÉgÉçÅ[ÉãÅ{'v',BMÅ(BAì\,Bhï(Bt,B/LÉ(BVÉáÅ[ÉgÉJÉbÉg,BE7Å(BB
   ,HH(I:,BMÅ(BA ,LB,BLåä(B2,B2_qÅ(BA,L>,B($F5=1Fpñ(BY,BjD5\A=Å(BDÅDÅDït,B+LÉ(B{ÉbÉNÉXÅB,B2(B
ﬂ,BqÅ(BA,L>,B($F5=1Fpñ(BY,BjD5\A=Å(BDÅDÅD ÇPî‘ñ⁄
,BLåäIMÉ(BtÉ@ÉCÉã,B)gLÉ(BsÉNÉ`ÉÉ (C:\Pictures\ToonTalk Talk
800x600\title.bmp) ÅB,Lc,BkL(B ÇPî‘ñ⁄  î‘ñ⁄,BL`LMÅ(BA
,LB,BLåä(B3,B2_qÅ(BA,L>,B($F5=1Fpñ(BY,BjD5\A=Å(BDÅDÅDït,B+LÉ(B{ÉbÉNÉXÅB,B2Ç(B
,BqÅ(BA,L>,B($F5=1Fpñ(BY,BjD5\A=Å(BDÅDÅD ,BLÉâÉ(BxÉãït,B+Låä(B"Key"
,BIMÉäÉÇÉ(BRÉì,M!âü,B3j=É(BLÅ[,B*ì¸AD"iÅ(BBÅB,B2_qÅ(BA,L>,B($F5=1Fpñ(BY,Bj(B
ƒ,B5\A=Å(BDÅDÅD ,BLÉâÉ(BxÉãït,B+Låä(B"Looks" ,BIMï Lä(BO,L)ó(BpÉäÉÇÉRÉì -
something,B*ì¸AD"iÅ(BBÅB,B2_qÅ(BA,L>,B($F5=1Fpñ(BY,BjD5\A=Å(BDÅDÅD
,BLÉâÉ(BxÉãït,B+Låä(B"Pictures" ,BIM(B
,LB,BLåä(B10,B2_qÅ(BA,L>,B($F5=1Fpñ(BY,BjD5\A=Å(BDÅDÅDït,B+LÉ(B{ÉbÉNÉXÅB,B2(B
ﬂ,BqÅ(BA,L>,B($F5=1Fpñ(BY,BjD5\A=Å(BDÅDÅD ,BLÉâÉ(BxÉãït,B+Låä(B"title"
,BIMÉ(BtÉ@ÉCÉã,B)gLÉ(BsÉNÉ`ÉÉ (C:\Pictures\ToonTalk Talk 800x600\title.bmp)
,B*ì¸AD"iÅ(BBÅB,B2_qÅ(BA,L>,B($F5=1Fpñ(BY,BjD5\A=Å(BDÅDÅD
,BLÉâÉ(BxÉãït,B+Låä(B"programming" ,BIMÉ(BtÉ@ÉCÉã,B)gLÉ(BsÉNÉ`ÉÉ
(C:\Pictures\ToonTalk Talk 800x600\programming.bmp)
,B*ì¸AD"iÅ(BBÅB,B2_qÅ(BA,L>,B($F5=1Fpñ(BY,BjD5\A=Å(BDÅDÅD
,BLÉâÉ(BxÉãït,B+Låä(B"games" ,BIMÉ(BtÉ@ÉCÉã,B)gLÉ(BsÉNÉ`ÉÉ (C:\Pictures\ToonTalk
Talk 800x600\games.bmp)
,B*ì¸AD"iÅ(BBÅB,B2_qÅ(BA,L>,B($F5=1Fpñ(BY,BjD5\A=Å(BDÅDÅD
,BLÉâÉ(BxÉãït,B+Låä(B"dream" ,BIMÉ(BtÉ@ÉCÉã,B)gLÉ(BsÉNÉ`ÉÉ (C:\Pictures\ToonTalk
Talk 800x600\dream.bmp)
,B*ì¸AD"iÅ(BBÅB,B2_qÅ(BA,L>,B($F5=1Fpñ(BY,BjD5\A=Å(BDÅDÅD
,BLÉâÉ(BxÉãït,B+Låä(B"concretizations" ,BIMÉ(BtÉ@ÉCÉã,B)gLÉ(BsÉNÉ`ÉÉ
(C:\Pictures\ToonTalk Talk 800x600\concretizations.bmp)
,B*ì¸AD"iÅ(BBÅB,B2_qÅ(BA,L>,B($F5=1Fpñ(BY,BjD5\A=Å(BDÅDÅD
,BLÉâÉ(BxÉãït,B+Låä(B"robots" ,BIMÉ(BtÉ@ÉCÉã,B)gLÉ(BsÉNÉ`ÉÉ
(C:\Pictures\ToonTalk Talk 800x600\robots.bmp)
,B*ì¸AD"iÅ(BBÅB,B2_qÅ(BA,L>,B($F5=1Fpñ(BY,BjD5\A=Å(BDÅDÅD
,BLÉâÉ(BxÉãït,B+Låä(B"learn" ,BIMÉ(BtÉ@ÉCÉã,B)gLÉ(BsÉNÉ`ÉÉ (C:\Pictures\ToonTalk
Talk 800x600\learn.bmp)
,B*ì¸AD"iÅ(BBÅB,B2_qÅ(BA,L>,B($F5=1Fpñ(BY,BjD5\A=Å(BDÅDÅD
,BLÉâÉ(BxÉãït,B+Låä(B"videogames" ,BIMÉ(BtÉ@ÉCÉã,B)gLÉ(BsÉNÉ`ÉÉ
(C:\Pictures\ToonTalk Talk 800x600\videogames.bmp)
,B*ì¸AD"iÅ(BBÅB,B2_qÅ(BA,L>,B($F5=1Fpñ(BY,BjD5\A=Å(BDÅDÅD
,BLÉâÉ(BxÉãït,B+Låä(B"availability" ,BIMÉ(BtÉ@ÉCÉã,B)gLÉ(BsÉNÉ`ÉÉ
(C:\Pictures\ToonTalk Talk 800x600\availability.bmp)
,B*ì¸AD"iÅ(BBÅB,B2_qÅ(BA,L>,B($F5=1Fpñ(BY,BjD5\A=Å(BDÅDÅD
,BLÉâÉ(BxÉãït,B+Låä(B"future" ,BIMÉ(BtÉ@ÉCÉã,B)gLÉ(BsÉNÉ`ÉÉ
(C:\Pictures\ToonTalk Talk 800x600\future.bmp)
,B*ì¸AD"iÅ(BB,B*ì¸AD"iÅ(BBÅB,BE7Å(BB,B;5D(B ,Lc,BkL(B ÇQî‘ñ⁄ 
î‘ñ⁄,BL`LMÅ(BAÉçÉ{ÉbÉg
,LB,BLåä(B3,B2_qÅ(BA,L>,B($F5=1Fpñ(BY,BjD5\A=Å(BDÅDÅDït,B+LÉ(B{ÉbÉNÉXÅB,B2Ç(B
,BqÅ(BA,L>,B($F5=1Fpñ(BY,BjD5\A=Å(BDÅDÅD ,BLÉâÉ(BxÉãït,B+Låä(B"Key"
,BIMÉ(BeÉLÉXÉgït,B+É(BpÉbÉh "+"
,B;Lè„I*ì¸AD"iÅ(BBÅB,B2_qÅ(BA,L>,B($F5=1Fpñ(BY,BjD5\A=Å(BDÅDÅD
,BLÉâÉ(BxÉãït,B+Låä(B"Looks" ,BIMGqHÉ(BsÉNÉ`ÉÉÅ[,BE`(B (ó·,B&NÅ(BAÅA
ÉtÉ@ÉCÉã,B)gLÉ(BsÉNÉ`ÉÉ (C:\Pictures\ToonTalk Talk 800x600\title.bmp)
ÉtÉ@ÉCÉã,B)gLÉ(BsÉNÉ`ÉÉ,B*ì¸AD"iÅ(BBÅB,B2_qÅ(BA,L>,B($F5=1Fpñ(BY,BjD5(B
‹,BA=Å(BDÅDÅD ÇRî‘ñ⁄
,BLåäIMÉ(B{ÉbÉNÉX,B*ì¸AD"iÅ(BBÅB,B;Lf$HÉ(B{ÉbÉNÉX,Bpó(B^,B&gjiFîﬁMPk(B
§  the ÇRî‘ñ⁄ hole inside ,BLíÜL`L(B îﬁ,BLÉ(B{ÉbÉNÉXÅB,B;5D(B âü,B7(B '1'
,Bpïœ&iLIÅ(BA what he is holdingîﬁ,B*(B_ù,BAD"i`LÅ(BB,B;5D(B ó_,BF7q>(B
it ,Bp7.â(BE,BI(B the new É{ÉbÉNÉXÅB,B;5D(B É_ÉXÉeÉB,BLÉ(BRÉsÅ[,BpB)^Å(BB,B;5D(B
âü,B7(B '+' ,Bpïœ&iLIÅ(BA what he is holdingîﬁ,B*(B_ù,BAD"i`LÅ(BB,B;5D(B
âü,B7(B '+' ,Bpïœ&iLIÅ(BA what he is holdingîﬁ,B*(B_ù,BAD"i`LÅ(BB,B;5D(B
É_ÉXÉeÉB,BEã(Bz,B"ç(B_,B^(B  the ÇQî‘ñ⁄ hole inside ,BLíÜL`L(B
îﬁ,BLÉ(B{ÉbÉNÉXÅB,B;5D(B É_ÉXÉeÉB,Bpï˙7Å(BB,B;5D(B ,BPk$(B  the ÇQî‘ñ⁄ hole
inside ,BLíÜL`L(B îﬁ,BLÉ(B{ÉbÉNÉXÅB,B;5D(B è∞,BLè„I(B itÅB,B;5D(B ,BPk$(B
îﬁ,B*,Ml,BA=hÅ(BA,L),BB/=(B ÇQî‘ñ⁄  ,BL`LMÅ(BAÅB,B;5D(B è∞,BLè„I(B itÅB,B;5D(B
,BPk$(B îﬁ,B*,Ml,BA=hÅ(BA,L),BB/=(B ÇQî‘ñ⁄  ,BL`LMÅ(BAÅB,B;5D(B è∞,BLè„I(B
itÅB,B;5D(B ,BPk$(B îﬁ,B*,Ml,BA=hÅ(BA,L),BB/=(B ÇQî‘ñ⁄  ,BL`LMÅ(BAÅB,B;5D(B
ó_,BF7(B it ,BLè„I(B the ÇQî‘ñ⁄ hole inside îﬁ,BLÉ(B{ÉbÉNÉXÅB,B;5D(B
ñÇñ@,BLB&pB)^Å(BB,B;5D(B ñÇñ@,BLB&p(B_g,B$(B the ÇPî‘ñ⁄ hole inside the
new É{ÉbÉNÉXÅB,B;5D(B ó_,BF7(B îﬁ,B*É(BRÉsÅ[,B5=`L(B ,BLè„I(B the ÇQî‘ñ⁄ hole
inside îﬁ,BLÉ(B{ÉbÉNÉXÅB,B;5D(B ñÇñ@,BLB&pï˙7Å(BB,B;5D(B ,BPk$(B the new
É{ÉbÉNÉXÅB,B;5D(B ó_,BF7(B it ,BLè„I(B the ÇRî‘ñ⁄ hole inside îﬁ,BLÉ(B{ÉbÉNÉX
,B5\7Å(BB,BE7Å(BB,B*ì¸AD"iÅ(BBÅB,B2_qÅ(BA,L>,B($F5=1Fpñ(BY,BjD5\A=Å(BD
DÅD ÇQî‘ñ⁄ ,BLåäIM(B _Ë,B*ì¸AD"iÅ(BB.
   What follows is in a special code and was produced by ToonTalk(tm) 
Beta 051299. To learn more about ToonTalk see www.toontalk.com.
6JStartToonTalkEncoding:
Cv8AAgD4AAAo//gBACn/K0M6XFBpY3R1cmVzXFRvb25UYWxrIFRhbGsgODAweDYwMFx0aXRs
ZS5ibXAAAD1j1QTWBAAAAAB4AFAA7wAJAQAAAAAAAD0j6APoAwAAAgAg/wADAARLZXkAMv8A
AACAKwABG/8GTG9va3MA+AIAJ//5AAAAADwjpgCmAAAAAAAJUGljdHVyZXMAIP8ACgAGdGl0
bGUA+AMAKf8rQzpcUGljdHVyZXNcVG9vblRhbGsgVGFsayA4MDB4NjAwXHRpdGxlLmJtcAAA
PSPVBNYEAAAAAAxwcm9ncmFtbWluZwD4BAAp/zFDOlxQaWN0dXJlc1xUb29uVGFsayBUYWxr
IDgwMHg2MDBccHJvZ3JhbW1pbmcuYm1wAAA9I+IE4gQAAAAABmdhbWVzAPgFACn/K0M6XFBp
Y3R1cmVzXFRvb25UYWxrIFRhbGsgODAweDYwMFxnYW1lcy5ibXAAAD0j4gTiBAAAAAAGZHJl
YW0A+AYAKf8rQzpcUGljdHVyZXNcVG9vblRhbGsgVGFsayA4MDB4NjAwXGRyZWFtLmJtcAAA
PSPiBOIEAAAAABBjb25jcmV0aXphdGlvbnMA+AcAKf81QzpcUGljdHVyZXNcVG9vblRhbGsg
VGFsayA4MDB4NjAwXGNvbmNyZXRpemF0aW9ucy5ibXAAAD0j4gTiBAAAAAAHcm9ib3RzAPgI
ACn/LEM6XFBpY3R1cmVzXFRvb25UYWxrIFRhbGsgODAweDYwMFxyb2JvdHMuYm1wAAA9I+IE
4gQAAAAABmxlYXJuAPgJACn/K0M6XFBpY3R1cmVzXFRvb25UYWxrIFRhbGsgODAweDYwMFxs
ZWFybi5ibXAAAD0j4gTiBAAAAAALdmlkZW9nYW1lcwD4CgAp/zBDOlxQaWN0dXJlc1xUb29u
VGFsayBUYWxrIDgwMHg2MDBcdmlkZW9nYW1lcy5ibXAAAD0j4gTiBAAAAAANYXZhaWxhYmls
aXR5APgLACn/MkM6XFBpY3R1cmVzXFRvb25UYWxrIFRhbGsgODAweDYwMFxhdmFpbGFiaWxp
dHkuYm1wAAA9I+IE4gQAAAAAB2Z1dHVyZQD4DAAp/yxDOlxQaWN0dXJlc1xUb29uVGFsayBU
YWxrIDgwMHg2MDBcZnV0dXJlLmJtcAAAPSPeBOcEAAAAAAX/MP8EAE5leHT/AiD/AAMABEtl
eQAw/wEAKwADBkxvb2tzAPgNAD3/K0M6XFBpY3R1cmVzXFRvb25UYWxrIFRhbGsgODAweDYw
MFx0aXRsZS5ibXAAAD0j4gTiBAAAAAAACv8BAwD4DgAp/ytDOlxQaWN0dXJlc1xUb29uVGFs
ayBUYWxrIDgwMHg2MDBcdGl0bGUuYm1wAAA9I+IE4gQAAAAA+A8AKf8xQzpcUGljdHVyZXNc
VG9vblRhbGsgVGFsayA4MDB4NjAwXHByb2dyYW1taW5nLmJtcAAAPSPiBOIEAAAAAPgQACn/
K0M6XFBpY3R1cmVzXFRvb25UYWxrIFRhbGsgODAweDYwMFxnYW1lcy5ibXAAAD0j4gTiBAAA
AAAg4f8CAAP/AAcAAv8AEQ3/MQIACv8ACxT/AA0D/wARDf8rEQ3/Kw4AAf8AEAP/AAcAAf8A
CBX/AAcV/wAIFf8ABxX/AAgV/wAHFf8ACQAB/wADAv8ABBQA/wAJAAH/AAYC/wAHFP8ACQAC
/wAX////+BEADP8EABoiUABxAAAAAAA=
.
,B1jMÅ(BAToonTalkÉIÉuÉWÉFÉNÉg,BLè(BIóπÉRÅ[Éh,BE7Å(BB
