   This is the result of "pasting" a ToonTalk object. You can include
this in files, email, or whatever. To decode it just use any program
that can copy this to the Windows clipboard. For example, you can use
Windows Notepad or WordPad program. Select all of the text
and then use the Copy command in the Edit menu. Then it will appear
in the ToonTalk remote control for the clipboard. You can find the
clipboard remote control on page 30 of the Sensor notebook. Just use
Dusty to vacuum it off the clipboard. Control-v is a shortcut for pasting. 
   The following is a picture from a file (C:\Pictures\ToonTalk Talk
800x600\title.bmp) . The first thing on the back is a box with 3 holes.
The hole labeled with "Key" contains a remote control for the key just
pressed. The hole labeled with "Looks" contains a remote control for
another's looks - something. The hole labeled with "Pictures" contains a
box with 10 holes. The hole labeled with "title" contains a picture from
a file (C:\Pictures\ToonTalk Talk 800x600\title.bmp) . The hole labeled
with "programming" contains a picture from a file (C:\Pictures\ToonTalk
Talk 800x600\programming.bmp) . The hole labeled with "games" contains a
picture from a file (C:\Pictures\ToonTalk Talk 800x600\games.bmp) . The
hole labeled with "dream" contains a picture from a file
(C:\Pictures\ToonTalk Talk 800x600\dream.bmp) . The hole labeled with
"concretizations" contains a picture from a file (C:\Pictures\ToonTalk
Talk 800x600\concretizations.bmp) . The hole labeled with "robots"
contains a picture from a file (C:\Pictures\ToonTalk Talk
800x600\robots.bmp) . The hole labeled with "learn" contains a picture
from a file (C:\Pictures\ToonTalk Talk 800x600\learn.bmp) . The hole
labeled with "videogames" contains a picture from a file
(C:\Pictures\ToonTalk Talk 800x600\videogames.bmp) . The hole labeled
with "availability" contains a picture from a file (C:\Pictures\ToonTalk
Talk 800x600\availability.bmp) . The hole labeled with "future" contains
a picture from a file (C:\Pictures\ToonTalk Talk 800x600\future.bmp) .
And the second thing on the back is a robot who wants a box with 3
holes. The hole labeled with "Key" contains a pad with the text "+" on
it. The hole labeled with "Looks" contains any picture (for example, a
picture from a file (C:\Pictures\ToonTalk Talk 800x600\title.bmp) a
picture from a file. The third hole contains any box. If given a box
like that he will pick up what's in the third hole inside his box. And
push '1' to change what he is holding. And drop it just right of the new
box. And grab a copy of Dusty. And push '+' to change what he is
holding. And push '+' to change what he is holding. And use Dusty to
vacuum what's in the second hole inside his box. And release Dusty. And
pick up what's in the second hole inside his box. And drop it. And pick
up the second thing he made or found. And drop it. And pick up the
second thing he made or found. And drop it. And pick up the second thing
he made or found. And drop it on the second hole inside his box. And
grab a magic wand. And use the magic wand on the first hole inside the
new box. And drop what he just copied on the second hole inside his box.
And release the magic wand. And pick up the new box. And drop it on the
third hole inside his box.
   What follows is in a special code and was produced by ToonTalk(tm) 
Beta 080900. To learn more about ToonTalk see www.toontalk.com.
;BStartToonTalkEncoding:
+AAAKP-4AQAp-ytDOlxQaWN0dXJlc1xUb29uVGFsayBUYWxrIDgwMHg2MDBcdGl0bGUuYm1w
AAA9A6CaAAAQdAAAiBQAAN57AAAAfQAAwF0AAAAAAAAAAD0DAH0AAMBdAABCAAAAjgAAAAB9
AADAXQAAAAACAPgCACD-AAMABEtleQAy-wAAAIArAAABG---Bkxvb2tzAPgDACf-+QAAAAA8
A8AUAACQDwAARC0AAFh6AADwCgAAjAoAAAAAAAAJUGljdHVyZXMAIP8ACgAGdGl0bGUA+AQA
Kf8rQzpcUGljdHVyZXNcVG9vblRhbGsgVGFsayA4MDB4NjAwXHRpdGxlLmJtcAAAPQOgmgAA
EHQAAEQ2AAD7fAAA2AAAAEYFAAAAAAAADHByb2dyYW1taW5nAPgFACn-MUM6XFBpY3R1cmVz
XFRvb25UYWxrIFRhbGsgODAweDYwMFxwcm9ncmFtbWluZy5ibXAAAD0DQJwAADB1AABSNwAA
+3wAANgAAABGBQAAAAAAAAZnYW1lcwD4BgAp-ytDOlxQaWN0dXJlc1xUb29uVGFsayBUYWxr
IDgwMHg2MDBcZ2FtZXMuYm1wAAA9A0CcAAAwdQAAYDgAAPt8AADYAAAARgUAAAAAAAAGZHJl
YW0A+AcAKf8rQzpcUGljdHVyZXNcVG9vblRhbGsgVGFsayA4MDB4NjAwXGRyZWFtLmJtcAAA
PQNAnAAAMHUAAG45AAD7fAAA2AAAAEYFAAAAAAAAEGNvbmNyZXRpemF0aW9ucwD4CAAp-zVD
OlxQaWN0dXJlc1xUb29uVGFsayBUYWxrIDgwMHg2MDBcY29uY3JldGl6YXRpb25zLmJtcAAA
PQNAnAAAMHUAAHw6AAD7fAAA2AAAAEYFAAAAAAAAB3JvYm90cwD4CQAp-yxDOlxQaWN0dXJl
c1xUb29uVGFsayBUYWxrIDgwMHg2MDBccm9ib3RzLmJtcAAAPQNAnAAAMHUAAIo7AAD7fAAA
2AAAAEYFAAAAAAAABmxlYXJuAPgKACn-K0M6XFBpY3R1cmVzXFRvb25UYWxrIFRhbGsgODAw
eDYwMFxsZWFybi5ibXAAAD0DQJwAADB1AACYPAAA+3wAANgAAABGBQAAAAAAAAt2aWRlb2dh
bWVzAPgLACn-MEM6XFBpY3R1cmVzXFRvb25UYWxrIFRhbGsgODAweDYwMFx2aWRlb2dhbWVz
LmJtcAAAPQNAnAAAMHUAAKY9AAD7fAAA2AAAAEYFAAAAAAAADWF2YWlsYWJpbGl0eQD4DAAp
-zJDOlxQaWN0dXJlc1xUb29uVGFsayBUYWxrIDgwMHg2MDBcYXZhaWxhYmlsaXR5LmJtcAAA
PQNAnAAAMHUAALQ+AAD7fAAA2AAAAEYFAAAAAAAAB2Z1dHVyZQD4DQAp-yxDOlxQaWN0dXJl
c1xUb29uVGFsayBUYWxrIDgwMHg2MDBcZnV0dXJlLmJtcAAAPQPAmwAAqHUAAMI-AAD7fAAA
2AAAAEYFAAAAAAAABf8w-wQATmV4dP8CIP8AAwAES2V5ADD-AQArAAMGTG9va3MA+A4APf8r
QzpcUGljdHVyZXNcVG9vblRhbGsgVGFsayA4MDB4NjAwXHRpdGxlLmJtcAAAPQNAnAAAMHUA
AJBbAABROAAAQAYAAAgGAAAAAAAAAAr-AQMA+A8AKf8rQzpcUGljdHVyZXNcVG9vblRhbGsg
VGFsayA4MDB4NjAwXHRpdGxlLmJtcAAAPQNAnAAAMHUAAKxnAADTOQAAkAEAAAQDAAAAAAAA
+BAAKf8xQzpcUGljdHVyZXNcVG9vblRhbGsgVGFsayA4MDB4NjAwXHByb2dyYW1taW5nLmJt
cAAAPQNAnAAAMHUAAKBpAADTOQAAkAEAAAQDAAAAAAAA+BEAKf8rQzpcUGljdHVyZXNcVG9v
blRhbGsgVGFsayA4MDB4NjAwXGdhbWVzLmJtcAAAPQNAnAAAMHUAAJRrAADTOQAAkAEAAAQD
AAAAAAAAIOH-AgAD-wAHAAL-ABEN-zECAAr-AAsU-wANA-8AEQ3-KxEN-ysOAAH-ABAD-wAH
AAH-AAgV-wAHFf8ACBX-AAcV-wAIFf8ABxX-AAkAAf8AAwL-AAQUAP8ACQAB-wAGAv8ABxT-
AAkAAv8AF---+QIAAAAAAAAAAAABAAAA-0D-.
This is the end of the code for the ToonTalk object. 
